<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
<!--     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 --></head>
<body>

    <div id="header">
        <!--  <center><h1 id="title-text">Dining Hall Menus</h1></center> -->
        <select>
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wed">Wednesday</option>
            <option value="thu">Thursday</option>
            <option value="fri">Friday</option>
        </select>
        <select>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>

    </div>

    <div id="container">
        <div id="collins" class="gridItem">
            <h1 class="schoolName">CMC</h1>
            <div class="data"></div>

        </div>

        <div id="scripps" class="gridItem">
            <h1 class="schoolName">Scripps</h1>
            <div class="data"></div>

        </div>
        <div id="pitzer" class="gridItem">
            <h1 class="schoolName">Pitzer</h1>
            <div class="data"></div>

        </div>


        <div id="frary" class="gridItem">
            <h1 class="schoolName">Frary</h1>
            <div class="data"></div>

        </div>

        <div id="mudd" class="gridItem">
            <h1 class="schoolName">Mudd</h1>
            <div class="data"></div>

        </div>
        <div id="frank" class="gridItem">
            <h1 class="schoolName">Frank</h1>
            <div class="data"></div>

        </div>

    </div>
    <script src="/javascripts/main.js"></script>

</body>
</html>