<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

    <div id="header">

    </div>

    <div id="container">
        <div id="collins" class="gridItem">
            <h1 class="schoolName">cmc</h1>

        </div>
        <div id="pitzer" class="gridItem">
            <h1 class="schoolName">pitzer</h1>

        </div>
        <div id="scripps" class="gridItem">
            <h1 class="schoolName">scripps</h1>

        </div>
        <div id="mudd" class="gridItem">
            <h1 class="schoolName">mudd</h1>

        </div>
        <div id="frary" class="gridItem">
            <h1 class="schoolName">frary</h1>

        </div>
        <div id="frank" class="gridItem">
            <h1 class="schoolName">frank</h1>

        </div>

    </div>

    <script>
        var $container = $('#container');
        // initialize
        $container.masonry({
          columnWidth: 30,
          itemSelector: '.gridItem',
          transitionDuration: '0.6'
        });
    </script>

</body>
</html>