body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {
    width: 100%;
    height: 200px;
    background-color: blue;
}

#container {
    margin: auto;
}

.schoolName {
    margin-left: 30px;
}

#collins {
    margin: 10px;
    background-color: #eee;
    height: 400px;
    width: 400px;
    color: #981b32;
}

#pitzer {
    margin: 10px;
    background-color: #eee;
    height: 400px;
    width: 400px;
    color: #f28b20;
}

#scripps {
    margin: 10px;
    background-color: #eee;
    height: 400px;
    width: 400px;
    color: #33735b;
}

#mudd {
    margin: 10px;
    background-color: #eee;
    height: 400px;
    width: 400px;
    color: #995500;
}

#frary {
    margin: 10px;
    background-color: #eee;
    height: 400px;
    width: 400px;
    color: #214293;

}

#frank {
    margin: 10px;
    background-color: #eee;
    height: 400px;
    width: 400px;
    color: #214293;

}


