body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
    line-height: 1.4;
}

#links{
    position: fixed;
    top: 162px;
    left: 10px;
    font-size: 1.6em;

}

@media screen and (max-width: 1200px) {
    #links {
        display: none !important;
    }
}

#input-area {
    margin-top: 50px;
}

#left {
    padding: 20px;
    padding-bottom: 50px;
}

#right {
    padding: 20px;
    padding-bottom: 50px;
}

.cmc {
    color: #981b32;
}

.pitzer {
    color: #f28b20;
}

.scripps {
    color: #33735b;
}

.mudd {
    color: #995500;
}

.pomona {
    color: #214293;

}



