body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#links{
    position: fixed;
    top: 80px;
    left: 10px;
    font-size: 1.6em;

}

#left {
    padding: 50px;
}

#right {
    padding: 50px;
}

.cmc {
    color: #981b32;
}

.pitzer {
    color: #f28b20;
}

.scripps {
    color: #33735b;
}

.mudd {
    color: #995500;
}

.pomona {
    color: #214293;

}



